<div id="temp-center" class="example-container">

  <mat-form-field class="">
    <input matInput placeholder="Name of combat mission" value="">
  </mat-form-field>

  <mat-form-field class="">
    <input matInput placeholder="Campaign of Combat Mission (If applicable)" value="">
  </mat-form-field>

  <mat-form-field class="">
    <input matInput placeholder="Number within campaign" value="">
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Game">
      <mat-option *ngFor="let game of supportedGames" [value]="game">
        {{ game }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="operationDate" placeholder="The date operation took place">
    <mat-datepicker-toggle matSuffix [for]="operationDate"></mat-datepicker-toggle>
    <mat-datepicker #operationDate></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="">
    <input matInput placeholder="The time the operation took place (ZULU)" value="">
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Type">
      <mat-option *ngFor="let type of operationTypes" [value]="type">
        {{ type }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="">
    <input type="text" placeholder="Mission OIC" aria-label="mission oic" matInput [formControl]="myControl"
      [matAutocomplete]="officerInCommand">
    <mat-autocomplete #officerInCommand="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let option of retrievedUsers" [value]="option">
        {{option.username}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field class="">
    <input type="text" placeholder="Mission Controller" aria-label="mission controller" matInput [formControl]="myControl"
      [matAutocomplete]="missionController">
    <mat-autocomplete #missionController="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let option of retrievedUsers" [value]="option">
        {{option.username}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <app-trooper-chip-select></app-trooper-chip-select>
  <app-trooper-chip-select></app-trooper-chip-select>
</div>