<div id="temp-center" class="example-container">

  
  <mat-slide-toggle class="example-margin" checked="isOICPost" (change)="isOICPost = !isOICPost">
    Slide me!
  </mat-slide-toggle>

  <div *ngIf="isOICPost" class="example-container">
    <!-- OIC post form -->
    <mat-form-field class="">
      <input matInput placeholder="Name of combat mission" [(ngModel)]="fieldMissionName">
    </mat-form-field>

    <!-- Shared form -->
    <app-trooper-chip-select placeholder="7th Cavalry Personnel within Element" (optionSelected)="AddPreviewUser(previewAttendees, $event)"></app-trooper-chip-select>

    <mat-form-field class="">
      <input matInput placeholder="Campaign of Combat Mission (If applicable)" [(ngModel)]="fieldMissionCampaignName">
    </mat-form-field>

    <mat-form-field class="">
      <input matInput placeholder="Number within campaign" [(ngModel)]="fieldMissionCampaignNumber">
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Game" [(ngModel)]="fieldMissionGame">
        <mat-option *ngFor="let game of supportedGames" [value]="game">
          {{ game }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="operationDate" placeholder="The date operation took place" [(ngModel)]="fieldMissionDate">
      <mat-datepicker-toggle matSuffix [for]="operationDate"></mat-datepicker-toggle>
      <mat-datepicker #operationDate></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="">
      <input matInput placeholder="The time the operation took place (ZULU)" value="" [(ngModel)]="fieldMissionTime">
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Type" [(ngModel)]="fieldMissionType">
        <mat-option *ngFor="let type of operationTypes" [value]="type">
          {{ type }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="">
      <input type="text" placeholder="Mission OIC" aria-label="mission oic" matInput [matAutocomplete]="officerInCommand"
        [(ngModel)]="fieldMissionOIC">
      <mat-autocomplete #officerInCommand="matAutocomplete" [displayWith]="displayFn" (optionSelected)="GetPreviewUser(previewOIC, fieldMissionOIC)">
        <mat-option *ngFor="let option of retrievedUsers" [value]="option">
          {{option.username}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="">
      <input type="text" placeholder="Mission Controller" aria-label="mission controller" matInput [matAutocomplete]="missionController"
        [(ngModel)]="fieldMissionController">
      <mat-autocomplete #missionController="matAutocomplete" [displayWith]="displayFn" (optionSelected)="GetPreviewUser(previewController, fieldMissionController)">
        <mat-option *ngFor="let option of retrievedUsers" [value]="option">
          {{option.username}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <!-- Attendee reply form -->

  <mat-form-field class="" *ngIf="!isOICPost">
    <input matInput placeholder="Element callsign" value="" [(ngModel)]="fieldElementCallsign">
  </mat-form-field>

  <mat-form-field class="" *ngIf="!isOICPost">
    <input type="text" placeholder="Element leader" aria-label="mission controller" matInput [matAutocomplete]="missionController"
      [(ngModel)]="fieldElementLeader">
    <mat-autocomplete #missionController="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let option of retrievedUsers" [value]="option">
        {{option.username}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  
</div>

<!-- Preview -->
<div style="text-align: center"><b>DEPARTMENT OF THE ARMY<br>
    <b><b><b>S3 BATTLE STAFF<br>
          <b>Headquarters<br>
            7th Cavalry Regiment<br>
            COMBAT AFTER ACTION REPORT</b><br>
        </b></b></b></b>​</div><b>Name of Combat Mission</b>: {{fieldMissionName}}<br>
<b>Campaign of Combat Mission </b>(If applicable): {{fieldMissionCampaignName}}<br>
<br>
<b>Game</b>: {{fieldMissionGame}}<br>
<b>Date of Combat Mission</b>: {{fieldMissionDate}}<br>
<b>Time of Combat Mission (Zulu)</b>: {{fieldMissionTime}} Zulu<br>
<b>Type of Combat Mission :</b> {{fieldMissionType}}<br>
<b>Mission OIC: </b><a href="https://7cav.us/rosters/profile?uniqueid={{previewOIC?.milpac?.milpac_id}}" class="internalLink">{{previewOIC?.milpac?.rank}}
  {{ previewOIC?.milpac?.username }}</a><br>
<b>Mission Controller: </b><a href="https://7cav.us/rosters/profile?uniqueid={{previewController?.milpac?.milpac_id}}" class="internalLink"> {{previewController?.milpac?.rank}} {{ previewController?.milpac?.username }}</a><br>
<br>
<b>Number of Attendees (Reserved for AAR Clerk): {{previewAttendees?.length}}</b><br>
<br>
<b>7th Cavalry Personnel Involved in Action (Must be copy/pasted from the <a href="https://7cav.us/rosters/" class="internalLink">Combat
    Roster</a>)</b>:<br>
  <a href="https://7cav.us/rosters/profile?uniqueid={{previewOIC?.milpac?.milpac_id}}">{{previewOIC?.milpac?.rank}}
    {{ previewOIC?.milpac?.username }}<br></a>
    <a href="https://7cav.us/rosters/profile?uniqueid={{previewController?.milpac?.milpac_id}}">{{previewController?.milpac?.rank}}
      {{ previewController?.milpac?.username }}<br></a>
<a *ngFor="let previewAttendee of previewAttendees" href="https://7cav.us/rosters/profile?uniqueid={{previewAttendee?.milpac?.milpac_id}}">{{previewAttendee?.milpac?.rank}}
  {{ previewAttendee?.milpac?.username }}<br></a>
<b>If your name is not listed, or if you have medal recommendations, contact </b><a href="https://7cav.us/rosters/profile?uniqueid={{previewOIC?.milpac?.milpac_id}}"
  class="internalLink">{{previewOIC?.milpac?.rank}} {{previewOIC?.user?.username}} </a>
<div class="messageTextEndMarker">&nbsp;</div>