@import "../../variables.scss";
.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.card-image{
  background-size:cover;
  background-position:center center;
}

.card-header{
  background-color: #0000008a;
  position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 1em;
    text-align:center;
}